/bootstrap/compiled.php
composer.phar
composer.lock
.env.*.php
.env.php
.env
Thumbs.db

# Dependencies
/vendor

# Configs
/app/config/database.phps

# Individual Files
/app/config/local/*

# MAC DS_Store Files
.DS_Store
